<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
        .navbar {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
        }
        .navbar h1 {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
        }
        .navbar a {
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
        }
        .navbar a:hover {
            text-decoration: underline;
        }
        .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            position: relative;
            bottom: 0;
            width: 100%;
            margin-top: 30px; /* Ajout de marge */
        }
        h1 {
            text-align: center;
            margin-top: 50px;
            color: #000000; /* Changement de couleur */
        }
        .poster-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 30px;
            margin-bottom: 50px; /* Ajout de marge en bas */
        }
        .poster {
            width: 200px;
            height: auto;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="navbar">
        <h1>Recommandeur de Films</h1>
        <br>
        <a href="/">🔄 Voir pour d'autres Films 🔄</a>
    </div>
    <img src="1200px-Sunflower_from_Silesia2.jpg" alt="cfa test">
    <h1>Film(s) recommandé(s) pour {{ movie_name }} :</h1>
    <div class="poster-container">
        {% for movie_url in movies %}
            <img class="poster" src="{{ movie_url[1] }}" alt="{{ movie_url[0] }}">   
        {% endfor %}
    </div>
    <div class="footer">
        <p>&copy; 2024 Système de recommandations de films. All rights reserved.</p>
    </div>
</body>
</html>